body {
  background-color: #f1f1f1;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5em;
  margin: 0 auto;
  padding: 0.7em 0;
  text-align: center;
  width: 100%;
}
#menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2em;
  width: 80%;
}
#menu a {
  background-color: blue;
  color: #fff;
  font-weight: bold;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  width: 25%;
}
#form-login {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
#form-login span {
  color: #6c6c6c;
  font-size: 0.9em;
}
#form-login input:first-child {
  margin-top: 0.5em;
}
#form-login input[type="email"],
#form-login input[type="password"] {
  padding: 0.5em 0.3em;
  width: 300px;
}
#form-login input[type="submit"] {
  background-color: #ffb545;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.3em 1em;
}
#welcome{
  margin: 0 auto;
  text-align: center;
}
.user{
    display: inline-block;
}
.user span:first-child{
  color: #7E7E7E;
}
.user span:first-child:after{
    content: "@"
}
.user span:last-child{
  font-size: 1.3em;
}
.logout{
  color: #9F9F9F;
  display: inline-block;
  font-size: .8em;
  margin-left: 1em;
  text-decoration: none;
}
.logout:before{
  content: "("
}
.logout:after{
  content: ")"
}
#form-search-book {
  margin: 2em auto;
  text-align: center;
  width: 700px;
}
#form-search-book span {
  color: #6c6c6c;
}
#form-search-book input[type="text"] {
  padding: 0.5em 0.3em;
  width: 500px;
}
#form-search-book input[type="submit"] {
  background-color: #ffb545;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.3em 1em;
  width: 150px;
}
#container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 2em;
  width: 55%;
}
#container .book {
  border: 1px solid #6c6c6c;
  width: 100%;
}
#container .book .card-book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1em;
}
#container .book .card-book .img-book {
  margin: 0;
  padding: 0;
}
#container .book .card-book .img-book img {
  height: 280px;
  width: 200px;

}
#container .book .card-book .data-book {
  width: 70%;
}
#container .book .card-book .data-book p {
  color: #6c6c6c;
  font-size: 1.2em;
  margin: 0 0 0.5em 0.5em;
}
#container .book .card-book .data-book p:last-child {
  margin-bottom: 0;
}
#container .book .card-book .data-book p span {
  color: #393939;
  font-weight: bold;
}
#container .book .card-book .data-book p span:after {
  content: " : ";
  margin-right: 0.3em;
}
#container .book .card-book > p{
  color: #FF8383;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}
#container .book .card-book .reservar {
  background-color: #ffb545;
  border: 3px solid #e79a25;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.3em;
  margin: 1em auto 0;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
#container .book h3 {
  background-color: #00914c;
  color: #fff;
  font-size: 1.8em;
  margin: 0;
  padding: 0.8em;
  text-align: center;
}
#container .book .cod-res{
  margin-bottom: 2em;
  text-align: center;
  width: 100%;
}
#container .book .cod-res p{
  color: #FF3F3F;
  font-size: 1.2em;
}
#container .book .cod-res span{
  background-color: #FF9F51;
  color: #FFDADA;
  font-size: 2em;
  padding: .3em;

}
#footer {
  background-color: #2e2e2e;
  height: 150px;
  width: 100%;
}
