@import "normalize.css";
body {
  background-color: #f1f1f1;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5em;
  margin: 0 auto;
  padding: 0.7em 0;
  text-align: center;
  width: 100%;
}
#menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}
#menu a {
  background-color: blue;
  color: #fff;
  font-weight: bold;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  width: 25%;
}
#slider {
  margin: 2em auto;
  text-align: center;
  width: 80%;
}
#slider .rslides {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
#slider .rslides li {
  display: none;
  -webkit-backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#slider .rslides li:first-child {
  display: block;
  float: left;
  position: relative;
}
#slider .rslides li img {
  border: 0;
  display: block;
  float: left;
  height: 300px;
  width: 100%;
}
#form-login {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
#form-login span {
  color: #6c6c6c;
  font-size: 0.9em;
}
#form-login input:first-child {
  margin-top: 0.5em;
}
#form-login input[type="email"],
#form-login input[type="password"] {
  padding: 0.5em 0.3em;
  width: 300px;
}
#form-login input[type="submit"] {
  background-color: #ffb545;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.3em 1em;
}
#welcome{
  margin: 0 auto;
  text-align: center;
}
.user{
    display: inline-block;
}
.user span:first-child{
  color: #7E7E7E;
}
.user span:first-child:after{
    content: "@"
}
.user span:last-child{
  font-size: 1.3em;
}
.logout{
  color: #9F9F9F;
  display: inline-block;
  font-size: .8em;
  margin-left: 1em;
  text-decoration: none;
}
.logout:before{
  content: "("
}
.logout:after{
  content: ")"
}
#form-search-book {
  margin: 2em auto;
  text-align: center;
  width: 700px;
}
#form-search-book span {
  color: #6c6c6c;
}
#form-search-book input[type="text"] {
  padding: 0.5em 0.3em;
  width: 500px;
}
#form-search-book input[type="submit"] {
  background-color: #ffb545;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.3em 1em;
  width: 150px;
}
#container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 2em;
  width: 95%;
}
#container .careers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
}
#container .careers a {
  color: #3c3c3c;
  padding: 1em;
  text-decoration: none;
}
#container .careers a:hover {
  background-color: #74dfad;
}
#container .news-feed {
  width: 37%;
}
#container .news-feed li {
  display: block;
  margin: 0.7em;
}
#container .news-feed li:before{
  content: "> ";
  margin-right: .3em;
}
#container .news-feed li span {
  color: #6c6c6c;
}
#container .prev-hemeroteca {
  width: 37%;
}
#container .prev-hemeroteca li {
  display: block;
  margin: 0.7em;
}
#container .prev-hemeroteca li:before{
  content: "> ";
  margin-right: .3em;
}
#container .prev-hemeroteca li span {
  color: #6c6c6c;
}
#container .prev-hemeroteca .prev-magazines,
#container .prev-hemeroteca .prev-articles {
  padding: .2em .5em;
}
#container .prev-hemeroteca .prev-magazines p,
#container .prev-hemeroteca .prev-articles p{
  font-weight: bold;
}
#container .careers,
#container .news-feed,
#container .prev-hemeroteca {
  border: 1px solid #6c6c6c;
}
#container .careers h3,
#container .news-feed h3,
#container .prev-hemeroteca h3 {
  background-color: #00914c;
  color: #fff;
  font-size: 1.8em;
  margin: 0;
  padding: 0.8em;
  text-align: center;
}
#footer {
  background-color: #2e2e2e;
  height: 150px;
  width: 100%;
}
